/** Primary colors */

$colors: (
    primary-a0: #6494ed,
    primary-a10: #547ac1,
    primary-a20: #456097,
    primary-a30: #36486f,
    primary-a40: #27314a,
    primary-a50: #181c27,
    
    /** Accent colors */
    accent-a0: #edbd64,
    accent-a10: #c19b53,
    accent-a20: #987a43,
    accent-a30: #705a34,
    accent-a40: #4a3c25,
    accent-a50: #282116,
    
    /** Danger colors */
    danger-a0: #b41c2b,
    danger-a10: #851d22,
    danger-a20: #581919,
    danger-a30: #2f1310,
    
    /** Success colors */
    success-a0: #009f42,
    success-a10: #167533,
    success-a20: #184d25,
    success-a30: #132916,
    
    /** Warning colors */
    warning-a0: #f0ad4e,
    warning-a10: #af7f3c,
    warning-a20: #71532a,
    warning-a30: #392b19,
    
    /** Info colors */
    info-a0: #388cfa,
    info-a10: #3267b5,
    info-a20: #284475,
    info-a30: #1a253b,
    
    /** Neutral colors */
    neutral-a0: #ffffff,
    neutral-a10: #c6c6c6,
    neutral-a20: #919191,
    neutral-a30: #5e5e5e,
    neutral-a40: #303030,
    neutral-a50: #000000,
);