@use "globals/colors";

.path-navbar__container {
    // margin: 2rem;
    border-radius: 10px;
    border: 1px solid map-get($colors, primary-a0);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
}